@charset "utf-8";
/* 초기화 */
html, body, div, header, nav, section, aside, article, footer, figure, 
figcaption, fieldset, legend, ul, ol, li, dl, dt, dd, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
fieldset {
    border: none;
}
/* 숨김 콘텐츠 */
.hidden, legend, caption {
    position: absolute;
    left: -9999px;
}
/* 전체 기본 스타일 */
/* 웹 폰트 */
@font-face {
    font-family: "Nanum";
    font-weight: 400;
    src: url("font/NanumGothic.eot?#iefix")format("embedded-opentype"),
    url("font/NanumGothic.woff")format("woff"),
    url("font/NanumGothic.ttf")format("truetype");
}
@font-face {
    font-family: "NanumBold";
    font-weight: 600;
    src: url("font/NanumGothicBold.eot?#iefix?#iefix")format("embedded-opentype"),
    url("font/NanumGothicBold.woff")format("woff"),
    url("font/NanumGothicBold.ttf")format("truetype");
}
@font-face {
    font-family: "NanumEx";
    font-weight: 900;
    src: url("font/NanumGothicExtraBold.eot?#iefix")format("embedded-opentype"),
    url("font/NanumGothicExtraBold.woff")format("woff"),
    url("font/NanumGothicExtraBold.ttf")format("truetype");
}
/* 링크 스타일 */
a:link {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
}
/* 기본 스타일 */
body {
    color: #000;
    background-color: #fff;
    font-size: 0.8em;
    line-height: 1.2;
    font-family: "Nanum";
}
/* 퀵메뉴 영역 */
#quickMenu {
    position: fixed;
    width: 80px;
    height: 280px;
    top: 300px;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 100;
    background-color: #fff;
}
.quick_prod {
    position: absolute;
    top: 28px;
}
.quick_prod a {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
}
.quick_prod a:last-of-type{
    margin-top: 2px;
}
.quick_prod img {
    width: 70px;
}
.quick_btn {
    font-size: 2em;
}
.quick_btn a {
    color: #555;
}
.quick_btn span {
    display: inline-block;
    text-indent: -100em;
}
.quick_up {
    position: absolute;
    top: 0;
    left: 30px;
}
.quick_down {
    position: absolute;
    bottom: 0;
    left: 30px;
}
/* 탑메뉴 영역 */
#topMenu {
    position: fixed;
    width: 50px;
    height: 150px;
    top: 80%;
    right: 10px;
    z-index: 100;
}
#topMenu a {
    display: inline-block;
    width: 90%;
    height: 30%;
    margin: 1px;
    border: 1px solid #ccc;
    background-color: #ccc;
    text-align: center;
}
#topMenu i {
    margin-top: 8px;
    font-size: 2em;
}
#topMenu span{
    display: block;
    text-indent: 100px;
}
/* 전체 레이아웃 */
#content {
    position: relative;
}

/* 헤더 영역 */
header {
    position: relative;
    width : 100%;
}
header h1 {
    position: relative;
    top: 80px;
    left: 50%;
    /* text-indent: -999px; */
}
#mainBanner {
    width: 1300px;
    height: 150px;
    margin: 0 auto;
    top: 30px;
}
/* gnb 영역 */
#gnb {
    position: relative;
    width: 1300px;
    height: 50px;
    top: -180px;
    margin: 0 auto;
}
#gnb ul {
    position: absolute;
    width: 300px;
    top: 1%;
    overflow: hidden;
    padding: 5px;
}
#gnb li {
    position: relative;
    height: 20px;
    padding: 5px;
    float: left;
    list-style: none;
}
#gnb li :after {
    content: "|";
    margin-left: 10px;
}
#gnb li:last-of-type :after {
    content: "";
}
/* 검색 영역 */
#gnb form {
    position: absolute;
    top: 5px;
    left: 80%;
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px;
}
#gnb form input {
    width: 100px;
    border: none;
    background-color: #ccc;
}
#gnb form button {
    border: none;
    background-color: #ccc;
}

/* 메인 메뉴 영역 */

/* 푸터 영역 */