@charset "utf-8";
/* 콘텐츠 영역 시작 */
/* 이미지 슬라이드 */
#slideArea {
    position: relative;
}
#slideContent{
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
#slideContent ul {
    width: 3900px;
}
#slideContent li {
    position: relative;
    float: left;
}
#slideContent img {
    width: 1300px;
}
/* 신상품 */
.prod ul {
    overflow: hidden;
}
.prod li {
    float: left;
}
.prod li img{
    display: inline-block;
    width: 200px;
}
/* 베스트 상품 */
/* 콘텐츠 영역 끝 */