@charset "utf-8";
/* quick Menu start */
/* seen today */
#quickMenu {
    position: absolute;
    width: 80px;
    height: 300px;
    top: 300px;
    border: 1px solid;
    text-align: center;
    z-index: 100;
    display: none;
}
.quick_prod {
    position: absolute;
    top: 45px;
}
.quick_prod a {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid;
}
.quick_prev {
    position: absolute;
    top: 10px;
}
.quick_next {
    position: absolute;
    bottom: 10px;
}
/* top, home, cart */
#topMenu {
    position: absolute;
    width: 50px;
    height: 150px;
    border: 1px solid;
    top: 100px;
    right: 0;
}
#topMenu span{
    display: inline-block;
    width: 90%;
    height: 30%;
    margin: 1px;
    border: 1px solid;
}

/* quick Menu end */

/* header start */
header {
    width: 100%;
}
/* gnb start */
#gnb {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 0;
    right: 10px;
    overflow: hidden;
}
#gnb li {
    position: relative;
    height: 20px;
    padding: 5px;
    float: right;
    list-style: none;
}
/* mainMenu start */

/* header end */
/* content start */
.prod ul {
    overflow: hidden;
}
.prod li {
    float: left;
}
.prod li img{
    display: inline-block;
    width: 200px;
}
/* contetn end */